body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c5d6f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: blue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2{
  text-decoration: underline;
  width: 400px;
  color: rgb(136, 136, 235);
  text-align: left;
}

input[type="text"],
input[type="email"] {
  display: flex;
  font-size: 20px;
  color: blue;
  margin: 5px;
  margin-left: 15px;
  width: 350px; 
  height: 30px;
  align-content: center;
}

input[type="submit"], 
button {
  display: flex;
  width: 150px;
  height: 50px;
  background-color: rgb(136, 136, 235);
  color: purple;
  font-weight: bold;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /*Dentro del botón*/
  margin-top: 30px; /*Fuera del botón*/
  margin-left: 100px;
  cursor: pointer;
  transition: all 300ms;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type="submit"]:hover, button:hover {
  background-color: blue;; 
}

.miCaja{
  border: 3px solid white;
  padding: 10px;
  margin: 15px;
}

.fondoVerde{
  background-color: green;
  color: white;
}